---
import { readFile } from "fs/promises";
import Layout from "../../components/Layout.astro";
import { eventStoreDirectory } from "../../util";
import { join } from "path";
import { listTodos } from "./util/listTodos";

const rawEvents = await readFile(
  join(eventStoreDirectory, "events.jsonl"),
  "utf-8"
);

const eventsUntil = Astro.url.searchParams.get("until");
const isDebug = Astro.url.searchParams.get("debug");

const unpagedEvents = rawEvents
  .trim()
  .split("\n")
  .map((x) => {
    try {
      return JSON.parse(x);
    } catch {
      null;
    }
  })
  .filter((t) => t);

const events = eventsUntil
  ? unpagedEvents.slice(0, parseInt(eventsUntil))
  : unpagedEvents;

const todoList = listTodos(events);
---

<Layout>
  <h1 class="text-4xl font-bold">My Todo App</h1>
  <form
    action="/todo/api/createTodo"
    method="post"
    class="grid gap-2 max-w-[65ch]"
  >
    <input type="hidden" value="CREATE_TODO" />
    <label class="text-sm grid gap-1"
      >Enter a todo item
      <input
        type="text"
        autocomplete="off"
        name="label"
        class="border rounded p-2 text-base"
        placeholder="Give a talk"
      /></label
    >
    <button class="rounded bg-black text-white p-2">Create</button>
  </form>
  <div>
    <h2 class="text-2xl font-semibold">Your Todos</h2>
    <hr />
  </div>
  <ul>
    {
      (todoList ?? []).map((t) => (
        <li class="flex items-center gap-2">
          <input
            data-id={t.id}
            class="todo-item"
            type="checkbox"
            checked={t.isDone}
          />
          {t.label} (
          <form method="post" action="/todo/api/deleteTodo">
            <input type="hidden" name="id" value={t.id} />
            <button>Delete</button>
          </form>
          )
        </li>
      ))
    }
  </ul>
  {
    isDebug && (
      <div class="fixed bg-white h-screen border-l top-0 right-0">
        <div class="p-4 grid content-start gap-4 h-[calc(100%-50px)]">
          <h2 class="text-2xl font-bold">Event Log</h2>
          <ul>
            {unpagedEvents.map((e, i) => (
              <li
                class:list={[
                  "font-mono",
                  i >= parseInt(eventsUntil) && "opacity-30",
                ]}
              >
                <a href={`/todo/?debug=true&until=${i + 1}`}>
                  {JSON.stringify(e)}
                </a>
              </li>
            ))}
          </ul>
        </div>
        <div class="p-4 mt-auto border-t self-end place-self-end">
          <input
            type="range"
            class="w-full"
            max={unpagedEvents.length}
            step={1}
            min={0}
            value={eventsUntil ? parseInt(eventsUntil) : unpagedEvents.length}
            id="paginator"
          />
        </div>
      </div>
    )
  }
</Layout>
<script>
  import { doTodo } from "./util/doTodo";
  import { paginate } from "./util/paginate";
  document.addEventListener("click", doTodo);
  document.addEventListener("click", paginate);
</script>
